.site-title {
    color: white;
}

.red-font {
    color: red;
}

.navbar {
    background-color: #5263ED;
    border: 0px solid white;
}

#custom-navbar-toggler {
    width: 30px;
    height: 30px;
    color: white;
}

.navbar-toggler {
    color: white;
    border: none;
}

/* 
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
} */

.navbar-active-sidebar {
    margin-left: 0px;
}

.nav-link {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

article h6.title {
    text-align: center;
}

#leftSidebar-title {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.left-sidebar .card-group-header {
    background-color: #ffd40f;
}

.tag {
    width: fit-content;
    background-color: green;
    margin: 5px;
}

.reviews {
    margin: 20px;
    height: 250px;
}

.review-elem:hover {
    background-color: #f1f1f1;
}

.verify {
    margin: 5px;
    background-color: green;
}

.verify:hover {
    background-color: darkgreen;
}

.deny {
    margin: 5px;
    background-color: red;
}

.deny:hover {
    background-color: darkred;
}

.review-elem {
    margin-bottom: 10px;
    cursor: pointer;
}

.active-card {
    margin: 20px;
}

.map {
    width: 100%;
    /* flex-shrink: 2; */
    overflow-x: hidden;
}

.modal.left .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    min-width: 250px;
    height: calc(100vh - 65px);
    margin-top: 65px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
}

/* .modal.right .modal-body {
    padding: 15px 15px 80px;
} */

.modal.left .modal-body {
    overflow-y: auto;
}

.modal-body {
    padding-bottom: 25%;
}

/* .main-grid {
    margin: 200px;
} */

.modal.right.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}

/* .modal-footer {
    position: sticky;
    bottom: 0;
    padding-top: 20px;
} */

/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #ffffff;
}

.btn-demo:focus {
    outline: 0;
}

/**************************/

.rating-wrapper {
    align-self: center;
    /* box-shadow: 7px 7px 25px rgba(198, 206, 237, .7),
        -7px -7px 35px rgba(255, 255, 255, .7),
        inset 0px 0px 4px rgba(255, 255, 255, .9),
        inset 7px 7px 15px rgba(198, 206, 237, .8); */
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    padding: 1.5rem 2.5rem;
    margin-left: auto;
}

.star-label {
    color: #E1E6F6;
    cursor: pointer;
    display: inline-flex;
    font-size: 2rem;
    padding: 1rem .6rem;
    transition: color 0.5s;
}

svg {
    -webkit-text-fill-color: transparent;
}

.star-rating {
    display: none;
}

.star-label:hover,
.star-label:hover~label,
.star-rating:checked~label {
    color: #ffd40f;
}

.star {
    color: #ffd40f;
}

.jumbo:hover {
    background-color: #e6e6e8;
}

.jumbo {
    background-color: #f6f6f8;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: calc(100vh - 65px);
    align-items: stretch;
}

body {
    padding-top: 65px;
}

.collapse {
    transition: all 0.4s;
}

.toast .fade {
    transition: opacity 0.5s linear !important;
}

#hotspotsList {
    margin-top: 2.5%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 10%;
    border-top: 2px solid #5162ed;
    border-bottom: 2px solid #5162ed;
    border-radius: 10px;
    background-color: white;
}

.vertical-separator {
    border-left: 1px solid #686666;
    height: 80%;
    margin-left: 10px;
}

/* Search bar styling. */

.searchbar-header {
    padding-top: 10%;
}

#hotspots-list-text-div {
    /* color: #5162ed; */
    font-style: italic;
    /* font-size: 0.9em; */
}

#review-summary-text {
    font-style: italic;
}

#are-filters-active-text {
    display:none;
}

.searchbar-sort {
    padding-bottom: 5%;
}

.visible-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

.bottom-buffer {
    padding-bottom: 8%;
}

.popover-center {
    text-align: center;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #c1c1c1;
}

.visible-scrollbar::-webkit-scrollbar-track {
    background-color: #fafafa;
}

.distance-pill {
    background-color: #3960a6;
    color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.avg-rating-icon {
    padding-right: 2.5px;
}

.no-rating-text {
    font-size: 0.75em;
}

.sort-by-button {
    padding-top: 2.5%;
    margin-bottom: 1px;
}

.sort-button-unclicked {
    background-color: #ffffff;
    color: #808080;
    /* border: 1px solid #6c757d; */
    /* white-space: nowrap; */
}

.sort-button-disabled {
    background-color: #e7ebf5 !important;
    color: #adb3bd !important;
    border: 1px solid #adb3bd !important;
    /* white-space: nowrap; */
}

.sort-button-clicked {
    background-color: #3960a6 !important;
    color: white !important;
    border: 1px solid #6c757d;
    /* white-space: nowrap; */
}

#enable-location-text {
    font-size: 0.8em;
    color: #ec516a;
}

/* */

/* #filterView {
    padding-top: 2.5%;
    padding-bottom: 5%;
} */

#filters-list {
    padding-right: 0;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 2.5%;
    /* border-top: 2px solid #5162ed;
    border-bottom: 2px solid #5162ed;
    border-radius: 10px; */
    /* margin-right: 5px; */
}

.underline-border {
    border-bottom: 2px solid #555;
}

.tagHeader {
    margin-top: 7.5%;
    margin-bottom: 1.5%;
    /* background-color: #c9cad2;
    border-bottom-right-radius: 20px;  */
}

.filter-header {
    margin-top: 7.5%;
}

.header-text {
    color: #5162ed;
}

.filter-clear {
    text-decoration: none;
    background-color: white;
    color: #808080;
    border: 1px solid #6c757d;
    padding: 2.5px;
    border-radius: 10px;
    cursor: pointer;
}

.custom-filter-checkbox {
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
}

.custom-filter-checkbox:checked {
    background-color:#3960a6;
    border-color: #3960a6;
    /* border-color: #5162ed; */
}

.filter-form {
    padding-left: 35px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    border: 1px solid #5162ed;
}

.custom-checkbox {
    border-left: 2px solid #555;
    padding: 2px;
}

/* Apply the custom style to checkboxes with the custom-checkbox class */
/* .custom-checkbox .form-check-input {
    width: 18px;
    height: 18px;
} */

@media (min-width: 1151px) {
    .modal-dialog {
        width: 23%;
    }

    .filterbar-panel {
        width: 250px;
        border-right: 2px solid #5162ed;
        overflow-y: auto;
        overflow-x: auto;
        background-color: #E1E6F6;
        /* text-wrap: nowrap; */
        /* flex: 0 0 auto; */
    }

    .searchbar-panel {
        background-color: #E1E6F6;
        border-right: 4px solid #5162ed;
        width: 25%;
        min-width: 245px;
        /* overflow: auto; */
    }

    /* .small-screen-search{
        display: none;
    } */
    .searchbar-search-text {
        font-size: .875em;
        color: #5162ed;
        padding-bottom: 2.5px;
    }

    #hotspotsList {
        height: 58vh;
    }

    #filters-list {
        height: 73.5vh;
    }
}

/* Smaller screens. */
@media (max-width: 1150px) {
    .modal-dialog {
        width: 40vh;
    }

    .searchbar-content {
        display: none;
    }

    .filterbar-content {
        display: none;
    }

    /* .form-check {
        width: 80%;
        border-right: 1px solid #5162ed;
    } */
    #toggleFilterBack {
        display: none;
    }

    .small-screen-search {
        width: 300px;
        /* hardcoded*/
        display: block;
        position: fixed;
        top: 75px;
        left: 2.5%;
        padding-bottom: 16px;
        z-index: 1;
        /* Ensure the overlay is above the map */
        background-color: #E1E6F6;
        border-radius: 10px;
        border: 2px solid #808080;
    }

    .searchbar-search-text {
        font-size: .875em;
        color: #5162ed;
        padding-bottom: 2.5px;
        text-decoration: bold;
    }

    #hotspotsList {
        height: 63%;
    }

    #filters-list {
        height: 80%;
    }
}

#close-list-text-btn,
#close-filter-text-btn {
    color: grey !important;
    border-radius: 10px;
    cursor: pointer;
}

.open-filter-button {
    background-color: #fbfdff;
}

#toggleFilterBack {
    cursor: pointer;
}

.location-name-search-box {
    border: 1px solid #6c757d;
}

/* .btn-outline-primary {
    color: #5162ed !important;
} */

/* Hotspot Information Popup Styles */

#new-tab-hotspot {
    margin-left: 5px;
}

.review-card {
    /* width: 16rem; */
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
}

.external-link-icon {
    color: #548ffb;
}

.hotspot-info-exit-button {
    color: #6c757d;
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
    cursor: pointer;
}

#hotspot-info-exit-unhovered {
    display: block;
}

#hotspot-info-exit-hovered {
    display: none;
}

.star-span-spacing {
    margin-left: 3px;
}

#review-list {
    border-top: 2px solid #5162ed;
    border-bottom: 2px solid #5162ed;
    border-radius: 10px;
    background-color: #E1E6F6;
    margin-top: 5%;
}

.review-time-container {
    font-style: italic;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
}

#open-with-googlemaps-text {
    font-size: 0.8em;
    margin-top: -5%;
}

.hotspot-title {
    color: #5162ed;
}

.title-address {
    margin-top: 2.5%;
    background-color: #E1E6F6;
    padding: 5%;
    border-left: 4px solid #5162ed;
    border-radius: 10px;
}

.hotspot-address-text {
    margin-top: 5%;
    font-size: 0.8em;
}

.tag-onhotspot-display {
    background-color: #3960a6 !important;
    /* override */
    color: #fbfdff !important;
}

.tag-container-display {
    padding: 0;
    padding-bottom: 2.5%;
}

.speeds-container {
    padding-top: 5%;
}

.descrip-container {
    padding-top: 2.5%;
}

.descrip-content {
    background-color: #E1E6F6;
    padding: 5%;
    border-radius: 10px;
}

.review-container {
    padding-top: 5%;
}

.review-content {
    /* background-color: #E1E6F6;
    padding: 2.5%;
    border-radius: 10px;  */
    height: 40vh;
    overflow-y: scroll;
    overflow-x: auto;
}