.navbar {
    background-color: #5263ED;
}

.navbar-active-sidebar {
    margin-left: 0px;
}

.nav-link {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.left-sidebar {
    position: fixed;
    top: 70px;
    left: -320px; /* Adjust width as necessary */
    width: 320px;
    height: 95%;
    background-color: #f1f1f1;
    overflow-y: auto;
    z-index: 1050; /* Higher than the navbar */
}

article h6.title {
    text-align: center;
}

#leftSidebar-title {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.left-sidebar .card-group-header {
    background-color: #ffd40f;
}

.left-sidebar-active {
    left: 0px;
}

.tag {
    width: fit-content;
    background-color: green;
    margin: 5px;
}

.reviews {
    margin: 20px;
    height: 250px;
}

.review-elem:hover {
    background-color: #f1f1f1;
}

.verify {
    margin: 5px;
    background-color: green;
}

.verify:hover {
    background-color: darkgreen;
}

.deny {
    margin: 5px;
    background-color: red;
}

.deny:hover {
    background-color: darkred;
}

.review-elem {
    margin-bottom: 10px;
    cursor: pointer;
}

.active-card {
    margin: 20px;
}

.inactive-sidebar-map {
    width: 100vw;
    height: 100vh;
}

.active-sidebar-map {
    margin-left: 320px;
}

.modal.left .modal-dialog {
    position: fixed;
    right: 0;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/* .main-grid {
    margin: 200px;
} */

.modal.right.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #eeeeee;
    background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */

.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #ffffff;
}

.btn-demo:focus {
    outline: 0;
}

/**************************/

/* .container2 {
    height: 100vh;
} */

.rating-wrapper {
    align-self: center;
    /* box-shadow: 7px 7px 25px rgba(198, 206, 237, .7),
        -7px -7px 35px rgba(255, 255, 255, .7),
        inset 0px 0px 4px rgba(255, 255, 255, .9),
        inset 7px 7px 15px rgba(198, 206, 237, .8); */
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    padding: 1.5rem 2.5rem;
    margin-left: auto;
}


.star-label {
    color: #E1E6F6;
    cursor: pointer;
    display: inline-flex;
    font-size: 2rem;
    padding: 1rem .6rem;
    transition: color 0.5s;
}

svg {
    -webkit-text-fill-color: transparent;
    /* -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
    filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1)); */
}

.star-rating {
    display: none;
}

.star-label:hover,
.star-label:hover~label,
.star-rating:checked~label {
    color: #ffd40f;
}

.star {
    color: #ffd40f;
}


.jumbo:hover {
    background-color: #e6e6e8;
}

.jumbo {
    background-color: #f6f6f8;
}