<div class="modal left fade" id="sidebar" tabindex="" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <div class="nav flex-sm-column flex-row">
                <div class="container">
                    <h2 id="hotspot-title">Title</h2>
                    <h6 id="hotspot-address"><a id="hotspot-googlemaps-link" href="" target="childWindow">Address</a></h6>
                </div>

                <div class="container" id="tag-container"></div>

                <br>
                <div class="container">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td>Upload Speed</td>
                                <td><strong id="ul-speed">0 Mbps</strong></td>
                            </tr>
                            <tr>
                                <td>Download Speed</td>
                                <td><strong id="dl-speed">0 Mbps</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container" id="descrip-div">
                    <!-- <strong>Description:</strong>
                    <p>{{ desc }}</p> -->
                </div>

                <div class="container d-flex justify-content-between">
                    <h5>Reviews</h5>
                    <button id="add-review" class="btn btn-secondary btn-sm" data-bs-target="#newReview"
                        data-bs-dismiss="modal" data-bs-toggle="modal">Add Review</button>
                </div>
                <br>
                <div id="review-list" style="height:40vh;" class="overflow-scroll"></div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>