<div id="leftSidebar" class="left-sidebar">
    <div class="card overflow-auto h-50" id="filter">
        <div id="leftSidebar-title" class="card-header">
            Find the Best WiFi!
        </div>
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Cost</h6>
            </header>
            <div class="filter-content">
                <div class="card-body" id="tagContainerCost"></div>
            </div> <!-- card-body.// -->
        </article> <!-- card-group-item.// -->
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Establishment</h6>
            </header>
            <div class="filter-content">
                <div class="card-body" id="tagContainerEstablishment"></div>
            </div> <!-- card-body.// -->
        </article> <!-- card-group-item.// -->
        <article>
            <header class="card-header">
                <h6 class="title">Accessibility</h6>
            </header>
            <div class="filter-content">
                <div class="card-body" id="tagContainerAccessibility"></div>
            </div> <!-- card-body.// -->
        </article> <!-- card-group-item.// -->
        <article>
            <header class="card-header">
                <h6 class="title">Password</h6>
            </header>
            <div class="filter-content">
                <div class="card-body" id="tagContainerPassword"></div>
            </div> <!-- card-body.// -->
        </article> <!-- card-group-item.// -->
    </div>
    <article>
        <div style="text-align: center;">
            <button id="apply-filter" type="button" class="btn btn-success btn-block">Apply Filter</button>
            <button id="clear-filter" type="button" class="btn btn-secondary btn-block">Clear Filter</button>
        </div>
    </article>
    <article>
        <header class="card-header">
            <h6 class="title">WiFi Hotspots Near You!</h6>
        </header>
        <div class="overflow-auto list-group" id="hotspotsList">
    </article>
</div>